datasets==2.15.0
-e git+https://github.com/huggingface/huggingface_hub.git@ef846d759f0aee9d586ecdffaa09c49ae0807e9c#egg=huggingface_hub
numpy==1.26.2
pandas==2.1.3
tensorflow==2.15.0
transformers==4.35.2

